h1 {
    color: darkgreen;
    font-family: Georgia;
    text-align: center;

}
h2 {
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
}
img{
    float: left;
}
p {
    line-height: 25px;
}

 div>div>.Paragraph{
     text-transform: uppercase;
 }   
 a {
text-decoration: none;
 }
 a:hover{
     text-decoration: underline;
 }
 .drop {
     clear:left;
 }
 img{
     width: 300px;
     padding: 10px;
 }