html,body{
    margin: 0;
    padding: 0;
}
.GridContainer{
    display: grid;
    grid-template-areas: 
    "pos1 pos2 pos3"
    "pos4 pos5 pos6"
    "pos7 pos8 pos9";
}
#Box1 {
    display: flex;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: burlywood;
    transition: background-color .5s, width .5s;
}
#Box1:hover{
    width: 225PX;
    background-color: black;
    color: blanchedalmond;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  
}
#Box2 {
    display: flex;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color:royalblue;
    transition: background-color .5s, width ease-out 1s, height ease-out 2s;
}
#Box2:hover{
    width: 255PX;
    height: 300px;
    padding: 5px;
    background-color: tomato;
    color:purple;
    align-items: center;
    justify-content: center;
    font-size: 75px;
}
#Box3 {
    display: flex;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: seagreen;
    transition: background-color 2s, width ease-out 1s, height ease-out 2s;
}
#Box3:hover {
    width: 200PX;
    height: 100px;
    box-shadow: 5px 10px;
    background-color:crimson;
    color:palegreen;
    align-items: center;
    justify-content: flex-end;
    font-size: 35px; 
}
#Box4 {
    display: flex;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: slategray;
    transition: background-color 2s, width ease-in 1s, height ease-in-out 2s;
}
#Box4:hover {
    width: 300PX;
    height: 300px;
    border-right-width: 10px;
    background-color:saddlebrown;
    color: white;
    align-items: center;
    justify-content:center;
    font-size: 65px;  
}
#Box5 {
    display: flex;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: aqua;
    transition: background-color 2s, width ease-in 1s, height ease-in-out 2s;
}
#Box5:hover {
    width: 300PX;
    height: 300px;
    border-radius: 50%;
    background-color:green;
    color:yellow;
    align-items: center;
    justify-content:center;
    font-size: 55px;  
}
#Box6 {
    display: flex;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: teal;
    transition: background-color 2s, width ease-in 2s, height ease-in-out 2s;
}
#Box6:hover {
    width: 300PX;
    height: 300px;
    border-radius: 30%;
    box-shadow: 20px 10px;
    background-color: darkblue;
    color:yellow;
    align-items: center;
    justify-content:center;
    font-size: 55px;  
}
.One{
    grid-area: pos1;
}
.Two{
    grid-area: pos2;
}
.Three{
    grid-area: pos3;
}
.Four{
    grid-area: pos4;
}
.Five{
    grid-area: pos5;
}
.Six{
    grid-area: pos6;
}